.row{
    padding: 20px;
}

div{
    background-color: slategrey;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 40px;
    margin-left: 10px;
    font-size: x-large;
}

@media(min-width: 576px){
img{
    position:inherit ;
    width: 200px;
    border-radius: 150px;
}
}

@media(max-width: 575px){
    img{
        position:inherit ;
        width: 200px;
        border-radius: 150px;
    }
    }