<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpeg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Nicolás Auyerós</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio numquam labore iure, quasi eum expedita eius odit quas exercitationem officia incidunt obcaecati sed quidem ipsam ab porro, nulla tenetur vel!</p>
    </span>
    </div>
</div>