<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div>
            <h1>Joyería</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nisi sunt impedit sint a velit reprehenderit quidem quibusdam dolor, cumque doloremque reiciendis nobis nulla beatae ullam, aut, explicabo iure! Modi.</p>
        </div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h1>Incubadora</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nisi sunt impedit sint a velit reprehenderit quidem quibusdam dolor, cumque doloremque reiciendis nobis nulla beatae ullam, aut, explicabo iure! Modi.</p>
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
</div>
